// sass-lint:disable force-element-nesting, force-pseudo-nesting


.control-label {
  font-weight: 700;
}


.breadcrumb.page-breadcrumb {
  background: transparent;
  margin-bottom: 10px;
  margin-top: -5px;
  padding-left: 0;
}


@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  @include media-breakpoint-up($breakpoint) {

    .fill-height#{$infix} {
      height: 100%;
      body, .fill-body {
        display: flex;
        flex-flow: column nowrap;
        min-height: 100%;
      }

      .fill-body {
        flex: auto;
      }
      header, .header, footer, .footer {
        flex: none;
      }
      main, .main {
        flex: auto;
        overflow: auto;
      }
    }
  }
}

$info-alert-border-level: -4;


@function panel-border-level($color-name: "primary") {
  @if ($color-name == 'info' or $color-name == 'warning') {
    @return $info-alert-border-level;
  }
  @return $alert-border-level;
}


@each $color, $value in (primary, secondary, success, info, warning, danger) {
  .card-#{$color} {
    border-color: theme-color-level($color, panel-border-level($color));
    > .card-header {
      @include gradient-bg(theme-color-level($color, $alert-bg-level));
      border-color: theme-color-level($color, panel-border-level($color));
      color: theme-color-level($color, $alert-color-level);
    }
    > .card-footer {
      border-color: theme-color-level($color, panel-border-level($color));
    }
  }
}
.card-default {
  border-color: theme-color(primary);
  > .card-header {
    background: theme-color(primary);
    border-color: theme-color(primary);
    color: theme-color(light);
  }
  > .card-footer {
    border-color: theme-color(primary);
  }
}
